.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #ffbe76;
}

.even-row {
  background-color: #f6e58d;
}

.odd-row {
  background-color: #f9ca24;
}

.add-object-container {
  margin-top: 20px;
}

.add-object-container label {
  display: block;
  margin-bottom: 5px;
}

.add-object-container input[type="text"] {
  width: 20%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-object-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.add-object-container button:hover {
  background-color: #45a049;
}
