

  <h2>Object List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of objects; let i = index" [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0">
        <td>{{ obj.id }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.data?.price }}</td>
        <td>{{ obj.data?.color }}</td>
      </tr>
    </tbody>
  </table>
  <div class="table-container">
    <h2>Add New Object</h2>
    <div class="add-object-container">
      <label for="id">ID:</label>
      <input type="text" id="id" [(ngModel)]="newObject.id">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newObject.name">
      <label for="color">Color:</label>
      <input type="text" id="color" [(ngModel)]="newObject.data.color">
      <br>
      <button (click)="addObject()">Submit</button>
    </div>
</div>
